[package]
name = "scheduler_core"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
bytes = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["net", "rt-multi-thread", "macros"] }
